# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Environment
.env
.env.local
.env.*.local

# Node (in case root npm is used)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store

# AI Models (Large files)
*.onnx
*.pth
*.h5
models/
